%h1.visible-phone Lets Predict
.span5.hidden-phone
  =image_tag('logo.png', :id => 'logo')
= form_tag sessions_path, :method => :post, :class => 'well login-form' do
  %legend Login
  .controls
    = text_field_tag "user[login]", "", :placeholder => 'LDAP Username', :class => 'input-large'
  .controls
    = password_field_tag "user[password]", "", :placeholder => 'LDAP Password', :class => 'input-large'
  .actions
    = submit_tag "Go", :class => 'btn btn-success'
.clear-left-div

%h3 How it works
= render 'how_it_works'
