.modal-backdrop.in
#newGroupsModal.modal{:style => "max-height:500px;"}
  .modal-header
    %button.close-button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}x
    %h3 New Groups
  .modal-body
    #modal-container.hide
    %div{:style => 'clear:both;'}

    %table.table.table-striped
      %thead.header
        %tr
          %th Group Name
          %th Owner 
          %th Location 
          %th &nbsp;
      
      %tbody
        - @groups.each_with_index do |g, i|
          - final_con = @current_tournament.connected_users_in_group(g)
          %tr
            %td 
              = g.group_name
              == (#{link_to g.total_members, "javascript:;", :data => { :target => "grpco-#{g.id}" } })
            %td= g.user.fullname
            %td= g.user.location
            %td
              - unless g.can_join?
                = link_to "No Vacancy", "javascript:;", :class => "btn button"
              - else
                = link_to "Join", join_req_group_connections_path(:group_id => g.id), :class => "btn btn-success"
          %tr
            %td{:colspan => 4, :style => "padding: 0;"}
              %div{:style => 'clear:both;'}
              .cutomGrp{:id => "grpco-#{g.id}", :style => "display:none;margin-top:10px;margin-bottom: 0px;"}
                - final_con.each do |c|
                  %p== #{c.fullname} (#{c.location || 'Unknown Location'})

= link_to "Back", home_path
    
:javascript
  $(document).ready(function() {
    $("a[data-target]").click(function(){
      val = $(this).attr("data-target");
      $('[id*=grpco-]').hide();
      $('#'+val).toggle();
    });
  });
