.modal-backdrop.in
#newGroupsModal.modal{:style => "max-height:500px;"}
  .modal-header
    %button.close-button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}x
    %h3 New Groups
  .modal-body
    #modal-container.hide
    %div{:style => 'clear:both;'}

    %table.table.table-striped
      %thead.header
        %tr
          %th Group Name
          %th Owner 
          %th Location 
          %th &nbsp;
      
      %tbody
        - @groups.each_with_index do |g, i|
          - final_con = @current_tournament.connected_users_in_group(g)
          %tr
            %td 
              = link_to g.group_name, "javascript:;", :data => { :target => "grpco-#{g.id}" }
              == (#{g.total_members})
            %td= g.user.fullname
            %td= g.user.location
            %td
              - unless g.can_join?
                = link_to "No Vacancy", "javascript:;", :class => "btn button"
              - else
                = link_to "Join", join_req_group_connections_path(:group_id => g.id), :class => "btn btn-success"
          %tr
            %td{:colspan => 4, :style => "padding: 0;"}
              %div{:style => 'clear:both;'}
              .cutomGrp{:id => "grpco-#{g.id}", :style => "display:none;margin:10px 0 0 10px;"}
                - final_con.in_groups(2, false).each do |users|
                  .users
                    %p.left
                      - u1 = users.first.try(:fullname).try(:truncate, 26)
                      - unless u1.blank?
                        == #{u1} (#{users.first.location || 'Unknown Location'})
                      - next if users.length == 1
                    %p.right
                      - u2 = users.last.try(:fullname).try(:truncate, 26)
                      - unless u2.blank?
                        == #{u2} (#{users.last.try(:location) || 'Unknown Location'})


    = link_to "Back to tournament", home_path
    
  :javascript
    $(document).ready(function() {
      $("a[data-target]").click(function(){
        val = $(this).attr("data-target");
        $('#'+val).toggle();
      });
    });
