#modal-container.hide
.grpList
  %h3.pull-left
    Manage Groups
  %div{:style => 'clear:both;'}

  %h4.pull-left
    Your Group
  .pull-right
    = link_to 'Back to Home', home_path, :class => 'pull-right', :style => 'margin-top:8px; margin-right:333px;'
  %div{:style => 'clear:both;'}
  .well{:style => 'width:600px;'}
    - if @group_exist == true
      - connected_users_arr = current_user.custom_group.total_connected_members_arr
      - final_con = @current_tournament.connected_users(connected_users_arr)
      .pull-left
        = link_to @own_group.group_name, "javascript:;", :id => "own-grp"
        %span.strong= "(#{@own_group.total_members})"
      .pull-right
        - unless @tournament_running == true
          = link_to "Delete", delete_group_custom_groups_path, :confirm => "Are you sure you want to delete your group?", :class => "btn btn-danger"
      %div{:style => 'clear:both;'}
      = render :partial => "connected_members", :locals => {:cmembers => final_con}
    - else 
      No groups yet.
      = link_to 'Create one now', new_custom_group_path, :remote => true
      and start <b>adding your friends</b> to compete with them.
      %br/
      %br/
      You can also skip this and just opt to join other's group.


  - if not @connected_groups.empty?
    %h4.pull-left
      Groups you have connected
    %div{:style => 'clear:both;'}
    .well{:style => 'width:600px;'}
      .connected-group-container
        - @connected_groups.each_with_index do |gc,i|
          - connected_arr = gc.specific_group_connected_users_arr
          - final_con = @current_tournament.connected_users(connected_arr)
          .pull-left
            = link_to gc.custom_group.group_name, "javascript:;", :data => { :target => "grpcons-#{gc.id}" }
            %span.strong= "(#{gc.custom_group.total_members})"
          .pull-right  
            - if @tournament_running == true
              = link_to "Disconnect", user_disconnect_group_connections_path(:group_connection_id => gc.id, :reqstatus => "connected"),:confirm => "Are you sure you want to disconnect from this group?", :class => "btn"
          %div{:style => 'clear:both;'}

          .customGrp{:id => "grpcons-#{gc.id}", :style => "display:none;"}
            = render :partial => "connected_members", :locals => {:cmembers => final_con}, :style => 'margin-top : 45px;'
          %br/


  - if not @req_pending_groups.empty?
    %h4.pull-left
      Group requests yet to approve
    %div{:style => 'clear:both;'}
    .well{:style => 'width:600px;'}
      .pending-group-container
        - @req_pending_groups.each_with_index do |gc,i|
          - connected_arr = gc.specific_group_connected_users_arr
          - final_con = @current_tournament.connected_users(connected_arr)
          .pull-left
            = link_to gc.custom_group.group_name, "javascript:;", :data => { :target => "grpcons-#{gc.id}" }
            %span.strong= "(#{gc.custom_group.total_members})"
          .pull-right
            = link_to "Revoke", user_disconnect_group_connections_path(:group_connection_id => gc.id, :reqstatus => "pending"),:confirm => "Are you sure you want to disconnect from this group?", :class => "btn"
            - if gc.created_at < DateTime.now - 2 && gc.owner_remind == false
              = link_to "Remind Owner", owner_reminder_group_connections_path(:owner_id => gc.custom_group.user_id, :id => gc.id), :class => "btn"
          %div{:style => 'clear:both;'} 

          .customGrp{:id => "grpcons-#{gc.id}", :style => "display:none;"}
            = render :partial => "connected_members", :locals => {:cmembers => final_con, :grp_con_status => gc.status}
          %br/
  - if @arr_ng.empty?
    = link_to 'No New Groups To Join', "javascript:;", :class => "btn btn" 
  - else
    = link_to 'Join New Group', new_groups_custom_groups_path(:tournament_id => @current_tournament.id), :remote => true, :class => "btn btn-primary"
