#modal-container.hide
%h3 Invitations

%div{:style => 'clear:both;'}
.invitationsModal
  %table.table.table-striped#users
    - @invitations.each_with_index do |gc, i|
      %tr
        %td
          - if gc.invited?
            - grp = gc.custom_group
            - owner = grp.user
            == <b>#{owner.fullname}</b>(#{owner.location}) has invited you to join group <b>#{grp.group_name}</b>(#{grp.total_members})
          - elsif gc.pending?
            - usr = gc.user
            == <b>#{usr.fullname}</b>(#{usr.location}) wants to join your group
        %td
          = link_to "Accept", accept_invitation_group_connection_path(gc), :class => "btn btn-success"
          = link_to "Ignore", ignore_invitation_group_connection_path(gc), :class => "btn"
          
= link_to "Back to Home", home_path
