#modal-container.hide
%h3.pull-left
  Invitations
= link_to 'Back to Home', home_path, :class => 'pull-right', :style => 'margin-top:20px;'
%div{:style => 'clear:both;'}
.invitationsModal
  %table.table.table-striped#users
    %thead.header
      %tr
        %th S.No
        %th Name
        %th Location
    %tbody
      - @invitations.each_with_index do |gc, i|
        %tr
          %td= i + 1
          %td= gc.user.fullname
          %td= gc.user.location
          %td
            = link_to "Accept", accept_invitation_group_connection_path(gc), :class => "btn btn-success"
            = link_to "Ignore", ignore_invitation_group_connection_path(gc), :class => "btn btn-primary"
          
= link_to "Back", home_path
