%h3.pull-left
  = @current_tournament.name
  Leaderboard
= link_to 'Back to Home', home_path, :class => 'pull-right', :style => 'margin-top:20px;'
%div{:style => 'clear:both;'}

%table.table.table-striped#users
  %thead
    %tr
      %th S.No
      %th Name
      %th Location
      %th Matches Predicted
      %th Total Points
      %th Position
  %tbody
    - position, last_points = 0, -1
    -  @current_tournament.leaderboard_users.all.each_with_index do |u, i|
      - me = u.id == current_user.id
      - position += 1 unless last_points == u.total_points.to_i
      %tr{:style => me ? 'border:2px solid green' : ''}
        %td= i + 1
        %td
          = link_to u.fullname, statistics_matches_path(:tournament_id => @current_tournament.id, :user_id => u.id), :remote => true, :title => 'View My Results'
        %td= u.location
        %td= u.matches_predicted
        %td= u.total_points.to_i
        %td= position
        - last_points = u.total_points.to_i

= link_to "Back", home_path
