.modal-backdrop.in
#predictModal.modal{:role => "dialog", :tabindex => "-1", "aria-hidden"=>"false"}
  .modal-header
    %button.confirm-close-button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}x
    %h3= tournament.name
    - i = 1 
    = form_tag(predictions_path, :method => :post) do
      .modal-body
        %legend League Matches      
        %table.table-striped#match
          %tbody{:style => "display:block;"}
            - tournament.matches.leagues.order("date").includes(:team, :opponent).each_with_index do |match|
              - if match.can_predict?
                = hidden_field_tag "predictions[#{i}][match_id]", match.id
                = hidden_field_tag "predictions[#{i}][tournament_id]", match.tournament_id
                = hidden_field_tag "predictions[#{i}][predicted_team_id]", @predicted_teams[match.id].try(:first)
              %tr
                %td= match.date.label
                %td.button-td
                  %span{:id => "team-button-#{i}", " data-team-id" => "#{match.team.id}", "data-index" => "#{i}", :class => get_btn_class(@predicted_teams, match, match.team.name)}
                    = match.team.name
                    %i{:id => "team-icon-#{i}","data-index" => "#{i}", :class => get_icon_class(@predicted_teams, match.id, match.team.name)}
                %td#vs-td vs
                %td.button-td
                  %span{:id => "opponent-button-#{i}","data-team-id" => "#{match.opponent.id}", "data-index" => "#{i}", :class => get_btn_class(@predicted_teams, match, match.opponent.name)}
                    = match.opponent.name
                    %i{:id => "opponent-icon-#{i}","data-index" => "#{i}", :class => get_icon_class(@predicted_teams, match.id, match.opponent.name)}
                -foo = "at "
                -foo << match.venue
                %td#venue-td= foo
                - i +=1

        %legend Knockouts
        - unless tournament.non_leagues_started?
          = render :partial => "tournaments/knockout_table", :locals => {:t =>tournament}

      .modal-footer#predict-footer
        = submit_tag "Submit", :class => "btn btn-primary"
        %a.btn.confirm-close-button{"data-dismiss"=> "modal", "aria-hidden" => "true"} Close