.modal-backdrop.in
#statisticsModal.modal{:role => "dialog", :tabindex => "-1", "aria-hidden"=>"true"}
  .modal-header
    %button.close-button.close{:type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}x
    %h3= tournament.name
    .legends{:style => 'margin-top:5px;'}
      %b Legends:
      %span#correct{:style => 'margin-left:10px;'} Correct Prediction
      %span#wrong{:style => 'margin-left:10px;'} Wrong Prediction
      %span#unknown{:style => 'margin-left:10px;'} Prediction Result Unknown
  - older, recent, remaining = tournament.categorize_matches_for_statistics
  .modal-body
    #statistics-accordion.accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#statistics-accordion", "data-toggle"=>"collapse", :href=>"#completedMatches"}
            Completed Matches
            == (#{older.length})
        #completedMatches.accordion-body.collapse
          = render :partial => "tournaments/statistics_part", :locals => {:matches => older}
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#statistics-accordion", "data-toggle"=>"collapse", :href=>"#recentMatches"}
            Recent Matches
            == (#{recent.length})
        #recentMatches.accordion-body.collapse.in
          = render :partial => "tournaments/statistics_part", :locals => {:matches => recent}
      - if @user.id == current_user.id  
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#statistics-accordion", "data-toggle"=>"collapse", :href=>"#futureMatches"}
              Upcoming Matches
              == (#{remaining.length})
          #futureMatches.accordion-body.collapse
            = render :partial => "tournaments/statistics_part", :locals => {:matches => remaining}
