#modal-container.hide
- @new_tournament.each do |t|
  .well
    %h4
      = t.name
      %span.label.label-info{:style => 'margin-left:10px;'}
        = "#{t.start_date.label} - #{t.end_date.label}"
    %div{:style => 'clear:both; margin-top:20px;'}
      - unless t.predictions_closed?
        %p
          %span{:style => 'display:inline-block; width:95px;'} Users Playing:
          = link_to t.total_predictors, users_playing_predictions_path(:tournament_id => t.id), :remote => true, :style => 'font-weight:bold; text-decoration:underline;'
        - prediction_percent = get_prediction_percentage(@predicted_teams, t)
        - if @predicted_teams.any?
          %p
            %span Your Prediction Status:
          .progress#progress-bar{:style => 'margin-right:10px;'}
            .bar{:style => "width: #{prediction_percent}; color:black;"}
              = prediction_percent
          %span Complete
          - if prediction_percent == '100%'
            %span.alert.alert-info Goob Job!
        - else
          .alert.alert-notice You have no predictions yet. Start now!

        %div{:style => 'clear:left;'}
          - link_text = prediction_percent == '100%' ? 'Update Now' : 'Predict Now'
          = link_to link_text, predict_predictions_path(:tournament_id => t.id), :remote => true, :class => "btn btn-success" 
          - days_left = (t.start_date - Date.today).to_i
          %span.label.label-warning= "Only " + days_left.to_s + " days left"

      - else
        %p.alert.alert-info== #{t.completed_matches_count} out of #{t.matches_count} matches are complete
        %p
          %span{:style => 'display:inline-block; width:120px;'} Your Total points:
          %span.label.label-success= current_user.total_points_for(t.id)
        %p
          %span{:style => 'display:inline-block; width:120px;'} Your Position:
          %span.label.label-success= current_user.rank_for(t.id)
        %div{:style => 'clear:left;'}

        = link_to "View Results", statistics_matches_path(:tournament_id => t.id), :remote => true, :class => "btn btn-primary"
        = link_to "Check Leaderboard", leaderboard_users_path(:tournament_id => t.id), :class => "btn btn-primary"
