#modal-container.hide
- @new_tournament.each do |t|
  .well
    %h4.pull-left#name-pull-left
      = t.name
    %span.label.label-info
      = "#{t.start_date.label} - #{t.end_date.label}"
    .pull-left#upcoming-left-pull-left
      - unless t.predictions_closed?
        - prediction_percent = ((current_user.predictions_count(t.id) / t.matches_count.to_f) * 100).round.to_s + '%'
        %span#progress Prediction Progress:
        .progress.progress-bar
          .bar{:style => "width: #{prediction_percent}; color:black;"}
            = prediction_percent
        .clear-left-div#upcoming-left-div
        - unless prediction_percent == '100%'
          - m = t.first_unpredicted_match(current_user.id)
          - alert_color = (m.date - Time.now.utc) > 36.hours ? 'green' : 'red'
          %p.alert.alert-warning#upcoming-alert
            Next unpredicted match starts in
            %span{:style => "color:#{alert_color}"}= distance_of_time_in_words(m.date, Time.now.utc)

        .pull-left#predict-pull-left
          - link_text = prediction_percent == '100%' ? 'Update Now' : 'Predict Now'
          = link_to link_text, predict_predictions_path(:tournament_id => t.id), :remote => true, :class => "btn btn-success" 

        .clear-left-div{:style => 'height:20px;'}

        %b Last Match Status: 
        %p= t.recently_completed_match_winner + " as won the match between " +t.abbreviated_team_names.first + " and " + t.abbreviated_team_names.last
        %p= "You have Predicted" + ""

      - if t.started?
        %p.pull-left
          %span#total-points-span Your Total points:
          %span.label.label-success= current_user.total_points_for(t.id)
        %p.pull-left
          %span#position-span Your Position:
          %span.label.label-success= current_user.rank_for(t.id)
        .clear-left-div
    .pull-left#upcoming-right-pull-left
      %span#users-playing-span Users Playing:
      = link_to t.total_predictors, users_playing_predictions_path(:tournament_id => t.id), :remote => true, :style => 'font-weight:bold; text-decoration:underline; margin-left:2px;'
      .clear-left-div
      - tournament_percent = ((t.completed_matches_count/t.matches_count.to_f) * 100).round.to_s + '%'
      %span.pull-left#tournament-progress-span Tournament Progress:
      .progress.progress-bar#tournament-progress
        .bar{:style => "width: #{tournament_percent}; color:black;"}
          = tournament_percent
      .clear-left-div#upcoming-right-div
      - if t.started?
        = link_to "View Results", statistics_matches_path(:tournament_id => t.id), :remote => true, :class => "btn btn-primary"
        = link_to "Check Leaderboard", leaderboard_users_path(:tournament_id => t.id), :class => "btn btn-primary"
    .clear-left-div
