#modal-container.hide
#current-tournaments-div
  .well
    %h4.pull-left#name-pull-left
      = @tournament.name
    %span.label.label-warning
      = "#{@tournament.start_date.label} - #{@tournament.end_date.label}"
    %div{:style => 'clear:both;'}
    .pull-left#upcoming-left-pull-left
      - if @tournament.started?
        - if m = @tournament.last_updated_match
          - abbrevs = m.abbrev_team_names
          - p = current_user.prediction_for(m)
          %b Last Updated Match
          %p.alert.alert-info{:style => 'margin-left:-14px;margin-bottom:10px;margin-top:5px;'}
            = m.date.label + ' - ' + abbrevs.first + " vs " + abbrevs.last + " - " + "You got"
            %strong
              == #{p.try(:points) || '0'} points 
        = link_to "View Your Prediction Results", statistics_matches_path(:tournament_id => @tournament.id), :remote => true, :class => "btn btn-primary"
        .clear-left-div{:style => 'height:8px;'} 

    .pull-left#upcoming-right-pull-left
      %span#users-playing-span Users Played:
      = link_to @tournament.total_predictors, users_playing_predictions_path(:tournament_id => @tournament.id), :remote => true, :style => 'font-weight:bold; text-decoration:underline; margin-left:2px;'
      .clear-left-div
      - tournament_percent = ((@tournament.completed_matches_count/@tournament.matches_count.to_f) * 100).round.to_s + '%'
      %span.pull-left#tournament-progress-span Tournament Progress:
      .progress.progress-bar#tournament-progress
        .bar{:style => "width: #{tournament_percent}; color:black;"}
          = tournament_percent

      .clear-left-div#upcoming-right-div
      - if @tournament.started?
        .alert.alert-info{:style=> 'margin-left:-14px;margin-bottom:10px'}
          %p.pull-left{:style => 'margin-bottom:0;'}
            %span#total-points-span Your Total points:
            %span.label.label-info{:style => 'font-size:15px;'}= current_user.total_points_for(@tournament.id)
          %p.pull-left{:style => 'margin-bottom:0;'}
            %span#position-span Your Position:
            %span.label.label-info{:style => 'font-size:15px;'}= current_user.rank_for(@tournament.id)
          .clear-left-div
        = link_to "Check Tournament Leaderboard", leaderboard_users_path(:tournament_id => @tournament.id), :class => "btn btn-primary"
    .clear-left-div
  = link_to "Back to Active Tournaments", home_path
