%h4 Update Match Results
%table.table.table-striped.table-condensed#updateresults
  %thead
    %tr
      %th Date
      %th Team
      %th Opponent
      %th Winner
      %th Actions
  %tbody
    - @matches.each do |m|
      = form_tag(match_path(m), :method => :put) do
        = hidden_field_tag "match_id", m.id
        = hidden_field_tag "tournament_id", m.tournament_id
        %tr
          %td= m.date.label
          %td= m.team.try(:name)
          %td= m.opponent.try(:name)
          %td
            - if(m.team == nil && m.opponent == nil)
              = select_tag :winner_id, options_from_collection_for_select(@teams, "id", "name")
            -else
              = select_tag :winner_id, options_for_select([[m.team.name, m.team.id],[m.opponent.name, m.opponent.id]])
          %td
            = submit_tag "Update", :class => "btn btn-primary"

= link_to "Home", home_path
%br
