!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Lets Predict"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    - if current_user  
      .container
      %nav#navigation-main
        = render 'layouts/navigation'
    #main{:role => "main", :class => params[:controller].to_s}
      .container
        .row
          .span12
            = render 'layouts/messages'
            = yield
        %footer
